* {
    box-sizing: border-box
}

html {
    display: block;
    margin: 0 auto;
    overflow: scroll;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Overlock', cursive;
    font-size: 1.1rem;
    display: block;
    background-image: url('../images/background.png');
    height: 100%;
    width: 100%;
    color: #140A25;
    line-height: 1.5;
}

.page-name {
    font-family: 'Petit Formal Script', cursive;
    font-size: 2rem;
}

h2 {
    font-family: 'Parisienne', cursive;
}

#bkg-img {
    background-image: url("./assets/images/background.png");
    height: 100%;
    width: 100%;
    background-size: cover;
} 

#link-dec {
    font-size: 1.3rem;
}

#link-dec:link {
    color: blueviolet; 
    background-color: transparent; 
    text-decoration: none;
  }
  
#link-dec:visited {
    color: plum;
    background-color: transparent;
    text-decoration: none;
  }
  
#link-dec:hover {
    color: #140A25;
    background-color: transparent;
    text-decoration: underline;
    -o-transition:5s;
    -ms-transition:5s;
    -moz-transition:5s;
    -webkit-transition:5s;
 /* fading hover */
    transition:5s;
  }   

.middle-section {
    
    background-color: white;
    width: auto;    
    height: auto;
    position: static;
    left: 15%;
    top: 10%;
    margin-top: 5%;
}

.about-me {
    border-bottom: solid gray 1px;
    margin: 0 1% 1% 1%;
}

.profile-img {
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    border: .25rem solid gray;
}

form {

    background-color: white;
    width: auto;    
    height: auto;
    position: static;
    left: 15%;
    top: 10%;
    margin: 2% 3%;
    padding: .5%;

}

.portfolio {
    border-bottom: solid gray 1px;
    margin: 0 1% 1% 1%;
}

.placeholder-1 {
    margin: 0 1% 7% 1%;
    
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
    vertical-align: center;
    padding: 20px;
}   


.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: .5%;
    border-radius: 50%;
  }

.fa-github {
    background: black;
    color: white;
    padding: .5%;
    border-radius: 50%;
}

