* {
    box-sizing: border-box
}

html {
    display: block;
    margin: 0 auto;
    overflow: scroll;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: block;
    background-image: url('../images/background.png');
    height: 100%;
    width: 100%;
    color: #140A25;

}


#bkg-img {
    background-image: url("./assets/images/background.png");
    height: 100%;
    width: 100%;
    background-size: cover;
}    

a:link {
    color: #140A25; 
    background-color: transparent; 
    text-decoration: none;
  }
  
  a:visited {
    color: plum;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: blueviolet;
    background-color: transparent;
    text-decoration: underline;
    -o-transition:5s;
    -ms-transition:5s;
    -moz-transition:5s;
    -webkit-transition:5s;
 /* fading hover */
    transition:5s;
  }   

.middle-section {
    
    background-color: white;
    width: auto;    
    height: auto;
    position: static;
    left: 15%;
    top: 10%;
    margin-top: 5%;
}

.main-content {
    margin-left: 3%;
    margin-right: 3%;
    width: auto;
    height: 100%;
    vertical-align: center;
}

.about-me {
    border-bottom: solid gray 1px;
    margin: 0 1% 1% 1%;
}

img {
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 7%;
}

form {

    background-color: white;
    width: auto;    
    height: auto;
    position: static;
    left: 15%;
    top: 10%;
    margin: 5% 15%;
    padding: 3%;

}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
    vertical-align: center;
    padding: 20px;
}    

